body {
  background-color: #1C3A13;
  color: #84732B;
  width: 500px;
  margin-right: auto;
  margin-left: auto;
}

button {
  padding: 5px 20px;
  background-color :#b8bb8b;
  border-style: none;
  color: #84732B;
}

input {
  height: 21px;
}